input, button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgLogin {
    width: 100%;
}

.fotoUser {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #eeeeee;
    border-radius: 1px;
    margin: 10px;
    border: none;
}

#precoBook {
    text-decoration: line-through;
    margin-right: 10px;
}

#precoBookDesc {
    font-size: 1.4em;
}

#containerFlex {
    display: flex;
}

img {
    height: 425px;
    width: 283px;
}

#imgModal {
    height: 550px;
}

#imgCart {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

/* Orientando cards do carrinho */

.containerCarrinho {
    display: flex;
}
